.floatingButton {
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 1rem;
}

.menuBar {
  position: fixed;
  z-index: 2;
  flex-direction: row;
  bottom: 20px;
  left: 1rem;
}

.menuIcon {
  height: 42px;
  width: 42px;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .floatingButton {
    right: calc(1rem + (100vw - 600px) / 2);
  }
  .menuBar {
    width: 650px;
  }
}
