.containerPublic {
  position: relative;
  padding: 1rem 1rem 2rem 1rem;
}

.container {
  position: relative;
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.shadowBox {
  padding: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textareaAutosize {
  outline: none;
  box-shadow: none;
  border: none;
  overflow: hidden;
  resize: none;
  white-space: pre-wrap;
  text-align: left;
  padding: 0px;

  font-family: 'source-serif';
  font-weight: unset;
}

@media (max-width: 768px) {
  .textareaAutosize {
    font-size: 28px;
  }
}
