.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.body {
  padding: 0 1rem;
  margin: auto;
}

.body h1,
.body p {
  padding-bottom: 1rem;
}

.body button {
  align-self: flex-start;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
}
