.formContainer {
  max-width: 400px;
}

.emailInput {
  padding: 10px 20px 12px 20px;
  border-radius: 30px;
  border: 1px solid black;
  margin-top: 1.5rem;
}

.submitButton {
  border: 1px solid black;
  margin-top: 1.5rem;
}

@media (max-width: 600px) {
}
